.bounce
    animation bouncing 1s infinite ease-in-out

@keyframes Bounce
    33%
        transform translateY(-20px)
    66%
        transform translateY(0px)
.root
    padding 20px 10px

.ball
    width 40px
    height 40px
    background rebeccapurple
    // composes bounce from "./animations.css"
    animation-name Bounce
    border-radius 20px
