.row
    margin-bottom 10px
    padding 10px 20px
    border-radius 10px
    background-color white
    color #a60000

.votingRow
    margin-right 0
    margin-left 0

.spacer
    margin-top 40px
    margin-bottom 40px
    padding 10px 20px

.badge
    float right
    padding 4px 8px
    min-width 12%
    border-radius 10px
    background-color #ffb273
    text-align center
    font-size 60%

.head
    border-bottom none

.title
    margin-bottom 5px
    text-transform uppercase
    letter-spacing 2px
    font-weight normal
    font-size 36px
